body{
	background-color: rgba(128,0,0)
;
	color: white;
	font-family: arial;
}

input{
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-size: 1px;
	border-color: black;
	border-radius: 20px;
	font-size: 16pt;
	padding: 10px 20px;
	outline: none;	
	border: none;
}

div#form{
	width: 420px;
	margin: 150px auto 0px auto;
}

div#form h1{
	text-align: center;
	font-family: arial;
}

a{
	color: white;
	display: block;
	text-decoration: none;

}

a:hover{
	text-decoration: underline;
	display: block;
}

div#cadastroSucesso{
	width: 400px;
	margin: 10px;
}

div#falhaCadastro{
	width: 400px;
	margin: 10px;

}

input[type=submit]{
	cursor: pointer;
	display: block;
	height: 55px;
	width: 444px;
	background-color: rgba(255,140,0);
	border: none;
	color: white;
}